body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



/*MY CSS*/
html{
    background-color:white;
    height:1500px;
}
.navbar-inverse{
    /*background-color:#20466A;*/   
    color:white;     
}
.link-white{
    color:#B7CADC !important
}
.navbar{
    box-shadow: 1px 1px 1px 1px #666666;
}
.dropdown-menu{
    background-color:#82A0BA;
}
.dropdown-menu li > a{
    color:white;    
}
.dropdown:hover > .dropdown-menu{

    display:block;
    
}
.dropdown-submenu{
    position:relative;
    
}

.dropdown-submenu > .dropdown-menu{
    top:-7px;
    left:100%;
    margin-top:6px;
    margin-left: -1px;    
    display:none;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu:before{
    position:absolute;
    top:7px;
    right:10px;   
    display:inline-block;
    border-top: 7px solid transparent;
    border-left: 7px solid #ccc;
    border-bottom: 7px solid transparent;
    border-left-color: rgba(0,0,0,0.2);
    content: '';

}
#img-slider-container{    
    
    
    
}
.my-background{
    background-color:white;
    /*background-color:#365C81;*/
    width:1100px;    
    margin-top:40px;        
    border-radius:5px;
    
}
.add-shadow{
    box-shadow: 3px 3px 20px 1px #888888;
}

.list-nostyle{
    
    list-style:none;    
    margin:0;
    padding:0;
    
    
}
.list-nostyle li{
   float:left;     
  
}
.list-nostyle li a{
    width:160px; 
    height:50px;
    box-shadow: 0px -2px 15px 1px #D1D1D1;
       
}
.progress{
    margin-top:-10px;
    width:800px;
    height:5px;
    
}
#prg-bar{
    width:0%;
}

#slider_wrapper{
    margin-top:-20px;;
    padding:0;
    background-color:red;
    width:800px;
    height:400px;
    overflow:hidden;
    border-radius:5px;
    position:relative;
    z-index:1;
}
#slide_front, #slide_back{
    width:875px;
    height:400px;
    position:absolute;
    z-index:2;
    border-radius:5px;
    overflow:hidden;
    background-color:green;
}
#counter{
    display:none;
}
#searchBox{    
    float:right;
    margin-top:10px;
}
#search{
    margin-top:-5px;
}

