.main {
  .btn-add-song {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .placeholder-map {
    position: relative;
    //background-color: pink;
  }

  .placeholder-player {
    //background-color: teal;
  }
  .stuff{
  
  }
}
