html
  head
    link(rel='stylesheet', href='/mdl/material.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    title=title


  body
    div(class='mdl-layout mdl-js-layout mdl-layout--fixed-header')

      header(class='mdl-layout__header mdl-layout__header--scroll header-color mdl-color--green-500')
        div(class='mdl-layout--large-screen-only mdl-layout__header-row')
          h3 Health &amp Fitness

        div(class='mdl-js-ripple-effect mdl-color--green-500', id='tab-container')
          block selectedLinks
            
          if !isLoggedin
            a(href='/login', class='mdl-layout__tab') Login
            a(href='/signup', class='mdl-layout__tab') Signup
          else

            button(id='logout', class='mdl-button mdl-js-button mdl-button--icon logout-button')
              i(class='material-icons') more_vert
            ul(class='logout-menu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect', for='logout')
              li(class='mdl-menu__item')
                a(href='/logout' class='mdl-js-ripple-effect') Logout




      main(class='mdl-layout__content page-layout')

        block template


  footer
    script(src='/mdl/material.min.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
