extends ./_profile.pug

block selectedLinks
  a(href='/', class='mdl-layout__tab') Home
  a(href='/posts', class='mdl-layout__tab') Posts
  a(href='/profile/userinfo', class='mdl-layout__tab is-active') Profile
  a(href='/About', class='mdl-layout__tab') About
  a(href='/addProfile', class='mdl-layout__tab') Add Profile

block template
  div.mdl-grid
    div.mdl-layout-spacer
    div(class='mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col add-profile-page')
      h2(class='mdle-card__title-text') Add Workout
      div(class='mdl-card__title')
        form(method='POST', action='/profile/workout/edit')
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text" name='workoutInput1')
            label(class="mdl-textfield__label") Name
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text" name='workoutInput2')
            label(class="mdl-textfield__label") Duration
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text" name='workoutInput3')
            label(class="mdl-textfield__label") Type
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text" name='workoutInput4')
            label(class="mdl-textfield__label") Weight
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text" name='workoutInput5')
            label(class="mdl-textfield__label") Sets
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text" name='workoutInput6')
            label(class="mdl-textfield__label") Reps



          //- div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
          //-   input(class="mdl-textfield__input" type="text" name='profileInput3')
          //-   label(class="mdl-textfield__label") Type
          //- div(class='mdl-select mdl-js-select mdl-select--floating-label')
          //-   select(class='mdl-select__input', name='type' id='workout-type')
          //-     option(value='chest') Chest
          //-     option(value='chest') Shoulders
          //-     option(value='chest') Back
          //-     option(value='chest') Triceps
          //-     option(value='chest') Biceps
          //-     option(value='chest') Abs
          //-     option(value='chest') Legs
          //-     option(value='chest') Calf
          //-   label(class='mdl-select__label', for='workout-type') Profession

          button(type='submit' class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect') Update
    div.mdl-layout-spacer
