extends ./_layout.pug

block selectedLinks
  a(href='/', class='mdl-layout__tab') Home
  a(href='/posts', class='mdl-layout__tab') Posts
  a(href='/profile/userinfo', class='mdl-layout__tab') Profile
  a(href='/about', class='mdl-layout__tab') About
  a(href='/addProfile', class='mdl-layout__tab') Add Profile

block template
  div(class="mdl-grid login-page")
    div.mdl-layout-spacer
    div(class='mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col')
      h2(class='mdle-card__title-text center-text') Login
      div(class='mdl-card__title')
        form(action="/login", method='POST')
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text")
            label(class="mdl-textfield__label" for="sample3") Username

          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text")
            label(class="mdl-textfield__label" for="sample3") Password

          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            button(type='submit' class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect') Login

      div(class='mdl-card__supporting-text')
        a(href='/auth/google' class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect header-color mdl-color--red-500') Google+
    div.mdl-layout-spacer
