extends ./_layout.pug
block selectedLinks
  a(href='/', class='mdl-layout__tab') Home
  a(href='/posts', class='mdl-layout__tab is-active') Posts
  a(href='/profile/userinfo', class='mdl-layout__tab') Profile
  a(href='/about', class='mdl-layout__tab') About
  a(href='/addProfile', class='mdl-layout__tab') Add Profile

block template
  div.home-page
    if isLoggedin
      div.mdl-grid
        div(class='mdl-cell mdl-cell--2-offset')
          a(href='/createPost', class='mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color--blue-500') Add post

    each post in posts
      div(class='mdl-grid')
        div.mdl-layout-spacer
        div(class='post-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-color--green-50')
          div.mdl-card__title
            h2.mdl-card__title-text=post.postTitle
          div.mdl-card__supporting-text Posted by #{ post.author.username } on #{ post.datePosted}
          div( class='mdl-card__actions mdl-card--border mdl ')
            a(class='mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect') Like
            a(class='mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect') Dislike
          div.mdl-card__menu
            span sdfd
        div.mdl-layout-spacer


  //-
  //- div.mdl-grid
  //-   div(class='mdl-layout-spacer')
  //-   -  for (var cardCounter = 0; cardCounter < 5; cardCounter++){
  //-
  //-     div(class='basic-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--7-col')
  //-       div.mdl-card__title
  //-         h2.mdle-card__title-text Title Text
  //-       div.mdl-card__supporting-text supporting text for card
  //-       div( class='mdl-card__actions mdl-card--border')
  //-         a(class='mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect') Get Started
  //-       div.mdl-card__menu
  //-     div(class='mdl-layout-spacer')

    - }
