extends ./_profile.pug

block profileNavBar
  a(class='mdl-layout__tab ', href='/profile/userinfo') Info
  a(class='mdl-layout__tab', href='/profile/workout') Workout
  a(class='mdl-layout__tab is-active', href='/profile/diet') Diet

block profile_views
  div.mdl-grid
    div(class='mdl-cell mdl-cell--12 mdl-cell--2-offset')
      h3 Today's Diet
  div.mdl-grid
    div.mdl-layout-spacer
    div(class='mdl-card mdl-shadow--2dp mdl-color--green-50 mdl-cell mdl-cell--4-col')


      div(class='sub-title')

      div(class='mdl-card__title')
        //- h2(class='mdle-card__title-text') Someone call CSI. You just killed your workout.
        table(class='diet-plan mdl-cell mdl-cell--12-col')
          tr
            th Food
            th Calories
          tr
            td Bread Crumbs
            td 45
          tr
            td Hot Cocoa
            td 200
          tr
            td beans
            td 1350

          tr
            td beans
            td 1350

          tr
            td Bread Crumbs
            td 45
          tr
            td Hot Cocoa
            td 200
          tr
            td beans
            td 1350

          tr
            td beans
            td 1350

          tr
            td Bread Crumbs
            td 45
          tr
            td Hot Cocoa
            td 200
          tr
            td beans
            td 1350


      div(class='mdl-card__supporting-text')

    div(class='mdl-card mdl-shadow--2dp mdl-color--green-50 mdl-cell mdl-cell--4-col')


      div(class='sub-title')
        h4 Add new Item

      div(class='mdl-card__title')
        //- h2(class='mdle-card__title-text') Someone call CSI. You just killed your workout.
        form(method='POST', action='/profile/diet/addNewFood' , class='mdl-cell mdl-cell--12-col')
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text" name='foodInput1')
            label(class="mdl-textfield__label") Food name
          div(class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label")
            input(class="mdl-textfield__input" type="text" name='foodInput2')
            label(class="mdl-textfield__label") Calories

          button(type='submit', class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect') Add Food

        //- table(class='diet-plan mdl-cell mdl-cell--12-col')
        //-   tr
        //-     th Food
        //-     th Calories


      div(class='mdl-card__supporting-text')
    div.mdl-layout-spacer
